[submodule "ff-macro"]
	path = ff-macro
	url = https://github.com/fhcflx/ff-macro.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/fhcflx/scripts.git
[submodule "teste"]
	path = teste
	url = https://github.com/fhcflx/teste.git
[submodule "aos-xml-filters"]
	path = aos-xml-filters
	url = https://fhcflx@github.com/fhcflx/aos-xml-filters.git
